* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(244, 246, 248);
}
.App {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.header {
  padding: 1rem 0;
  text-align: center;
  background: #052b3c;
  color: white;
}
.header__logo {
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}
.search__form {
  display: flex;
}
.search__input {
  padding: 0.5em;
  font-size: 1rem;
  border: 2px solid #bdc3c7;
  color: #95a5a6;
  border-radius: 4px;
  margin-right: 5px;
}
.search__btn {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  background: none;
  color: white;
  border: 2px solid #f39c12;
  background-color: #f39c12;
  border-radius: 4px;
  cursor: pointer;
}
.search__btn:hover {
  border-color: #f5b043;
  background-color: #f5b043;
}
.parcels {
  /* background: lightcyan; */
  padding: 0.5rem;
}
.parcels__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.parcel {
  display: flex;
  margin: 0.5rem;
}

.parcel__number {
  padding: 0.25em 1em;
  border-radius: 5px 0 0 5px;
  background: lightskyblue;
  opacity: 0.8;
  transition: opacity 300ms ease-in;
}
.parcel__number:hover {
  cursor: pointer;
  opacity: 1;
}
.parcel__remove {
  padding: 0 0.5em;
  font-weight: bold;
  border: none;
  border: 1px solid lightskyblue;
  border-radius: 0 5px 5px 0;
  background: none;
  cursor: pointer;
  opacity: 0.5;
}
.parcel__remove:hover {
  opacity: 1;
}
.results {
  /* background: lightseagreen; */
  flex-grow: 1;
  padding: 1em;
}
footer {
  padding: 1em;
}
