* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(244, 246, 248);
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}
header {
    background: #052b3c;
}
.header {
    padding: 1rem 0;
    color: white;
    text-align: center;
}
.header__logo {
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
}
.search__form {
    display: flex;
}
.search__input {
    margin-right: 5px;
    padding: 0.5em;
    color: #95a5a6;
    font-size: 1rem;
    border: 2px solid #bdc3c7;
    border-radius: 4px;
    width: 100%;
}
.search__input:focus {
    color: #555;
    border-color: #3498db;
}
.search__btn {
    padding: 0.5em 1em;
    color: white;
    font-size: 1rem;
    border: none;
    border: 2px solid #f39c12;
    border-radius: 4px;
    background: none;
    background-color: #f39c12;
    cursor: pointer;
}
.search__btn:hover {
    border-color: #f5b043;
    background-color: #f5b043;
}
.parcels {
    padding: 0.5rem;
}
.parcels__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.parcel {
    max-width: 320px;
    /* display: flex; */
    margin: 1rem 0.5rem;
    border-radius: 3px;
    background: #fafbfc;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.parcel__title {
    width: 100%;
    font-size: 1rem;
    border: none;
    background: none;
    background-color: rgba(0, 0, 0, 0);
}
.parcel__number {
    font-weight: bold;
}
.parcel__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.parcel__controls {
    display: flex;
    align-items: center;
    position: relative;
}
.parcel__btn {
    padding: 0 0.5em;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.5;
}
.parcel__btn:hover {
    opacity: 1;
}
.parcel__details {
    padding: 1rem;
}
.results {
    flex-grow: 1;
    padding: 1em;
}
footer {
    background: #fafbfc;
}
